.asignar1{
    background-color: blue;
}

.asignar2{
    background-color: blueviolet;
}

.anchuraYAltura{
    width: 200px;
    height: 200px;
    border:solid 3px;
}

.dimension{
    width: 800px;
    height: 70px;
    border: solid 2px;
}

.color{
  color: blue;
}